.avatar {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 10em;
}
.currentPage {
    border-radius: 10em;
}

.defaultPage {
    font-size: 20px;
    font-weight: normal;
}

.selectedPage {
    font-size: 24px;
    font-weight: bold;
}