.formControl {

}

.formControl.error input,
.formControl.error textarea {
    border: 1px solid red;
}

.formControl.error {
    color: red;
}

.formSummaryError {
    color: firebrick;
    border: 1px solid red;
    padding: 5px;
}